@model IEnumerable<HotelReservationSystem.Models.Reservation>

@{
    ViewData["Title"] = "Index";
}

<h1>Резервации</h1>

<p>
    <a asp-action="Create">Создать новую</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Имя пользователя
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.RoomNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOut)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOut)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Детали</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
