@model IEnumerable<HotelReservationSystem.Models.Room>

@{
    ViewData["Title"] = "Index";
}

<h1>Номера Отеля</h1>

<p>
    <a asp-action="Create">Создать новый</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoomNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomType)
            </th>
            <th>
                Действия
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoomNumber)
            </td>
            <td>
                <a asp-area="Admin" asp-controller="RoomTypes" asp-action="Details" asp-route-id=@item.RoomTypeId>@Html.DisplayFor(modelItem => item.RoomType.Name)</a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RoomNumber">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.RoomNumber">Детали</a> |
                <a asp-action="Delete" asp-route-id="@item.RoomNumber">Удалить</a>
            </td>
        </tr>

}
    </tbody>
</table>